// Vars
// ___________________________

// Colors
// _____________

// GrayScales
// __________
@black:						@111;
@grayDarker:				@222;
@grayDark:					@444;
@gray:						@555;
@grayLight:					@AAA;
@grayLighter:				@EEE;
@white:						@FFF;

// Accents
// __________
@blue:						@00F;
@blueDark:					darken(@blue, 20%);
@green:						@0F0;
@greenDark:					darken(@green, 20%);
@red:						@F00;
@redDark:					darken(@red, 20%);

// 
// __________
@bodyColor: 				@white;
@navColor:					@black;


// Typography
// _____________
@htmlFontSize: 				@62.5%;
@baseFontSize:				1.4rem;
@baseLineHeight:			@baseFontSize*1.5;
@baseMargin:				@baseLineHeight;
@basePadding:				@baseMargin/2;

// Layout
// _____________
